* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Outfit", sans-serif;
  /* helps me see the blocks and understand the logic */
  /* border: 1px dotted pink; */
}

.container {
  background-color: rgb(13, 26, 45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.card {
  background-color: rgb(21, 39, 63);
  max-width: 350px;
  max-height: 600px;
  /* height: 100%; */
  /* width: 100%; */
  padding: 1.5rem;
  border-radius: 4%;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
}

.nft {
  position: relative;
  margin-bottom: 1rem;
}

.nft img {
  width: 100%;
  border-radius: 3%;
}

.nft:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.overlay {
  background-color: rgba(39, 236, 244, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s ease;
  border-radius: 3%;
}

.icon {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.icon i {
  height: 25%;
  width: 25%;
}

.content h1 {
  color: white;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.content h1:hover {
  color: rgb(39, 236, 244);
  cursor: pointer;
}

.description {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 1.5rem;
  color: rgb(150, 170, 200);
}

.infos {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(150, 170, 200, 0.2);
}

.infos .value {
  color: rgb(39, 236, 244);
  font-weight: 600;
}

.infos .time {
  color: rgb(150, 170, 200);
  font-weight: 300;
}

.icons {
  margin-right: 6px;
  max-height: 20px;
  vertical-align: -3px;
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(150, 170, 200);
  font-weight: 300;
}

.author img {
  width: 35px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 20px;
}

.white {
  color: white;
}

.white:hover {
  color: rgb(39, 236, 244);
  cursor: pointer;
}

.attribution {
  margin-top: 40px;
  color: rgb(250, 58, 105);
  font-size: 11px;
  font-weight: 300;
  text-align: center;
}
.attribution a {
  color: rgb(250, 58, 105);
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
